{
    "NODE_ENV": "development",
    "PORT": 8765,
    "HTTPS_PORT": 8443,
    "SECRET_TOKEN": "thisIsTheTokenForReals",
    "ALLOWED_ORIGINS": "",
    "IPFS_ENABLED": true,
    "IPFS_SERVICE": "IPFS-CLIENT",
    "IPFS_NODE_URL": "http://127.0.0.1:5001",
    "IPFS_GATEWAY": "http://127.0.0.1:8080/ipfs",
    "PINATA_GATEWAY": "https://gateway.pinata.cloud", 
    "PINATA_JWT": "your_pinata_jwt_here",
    "ETHEREUM_PROVIDER_URL": "https://opt-sepolia.g.alchemy.com/v2/your_alchemy_api_key",
    "ETHEREUM_PRIVATE_KEY": "your_private_key_here",
    "ONCHAIN_MEMBERSHIP_ENABLED": false,
    "RELAY_REGISTRY_CONTRACT": "0x4856C1238040C2b32d4815a71602712E1867D6Ed",
    "RELAY_ENTRY_POINT_CONTRACT": "0xFE12895baf9BC245678c3f391A64B74778CDFE01",
    "INDIVIDUAL_RELAY": "your_individual_relay_address",
    "PRIVKEY_PATH": "",
    "CERT_PATH": "",
    "ADMIN_USER": "admin",
    "ADMIN_PASS": "admin",
    "TYPE_VALIDATION_ENABLED": true,
    "TYPE_VALIDATION_STRICT": false,
    "MAX_FILE_SIZE": "50mb"
}
    
